.realidade-aumentada-container {
    text-align: center;
    padding: 20px;
}

#map {
    height: 50vh; /* Ajusta a altura para metade da tela em dispositivos móveis */
    width: 100%;
    max-width: 600px; /* Define um limite máximo para o mapa em telas maiores */
    margin: 0 auto; /* Centraliza o mapa */
}

@media (max-width: 600px) {
    #map {
        height: 60vh; /* Aumenta a altura do mapa em telas menores */
    }
}
